.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.player1 {
  width: 50%; float: left
}
.player2 {
  width: 50%; float: right
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
